* {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: black;
    font-size: 1.2em;
}

h1 {
    color: rgb(68, 149, 255);
    font-size: 2.5em;
    
}

h3 {
    color: rgb(16, 177, 206);
    font-size: 1.75em;
}

p {
    color: black;
    font-size: 1.2em;
}

a {
    color: rgb(93, 153, 4);
    font-size: 1em;
}

.main-image {
    width: 100%;
}

body {
    margin: 2em;
}